ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

li {
  list-style: none;
  cursor: pointer;
  margin: 0 15px;
}

.link {
  text-decoration: none;
  font-size: 1.8rem;
}

.home-p {
  margin-top: 50px !important;
}

.home {
  justify-content: center;
}

@media (min-width: 900px) {
  .link {
    font-size: 2.4rem !important;
  }
}

@media (min-width: 1200px) {
  .link {
    font-size: 3rem !important;
  }
}

@media (min-height: 600px) {
  .home {
    justify-content: space-evenly;
  }

  .home-p {
    margin-top: 0 !important;
  }
}