* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  color: #333;
}

label {
  font-size: 1.2rem;
}

table {
  border-spacing: 0 10px;
  color: #444;
}

thead tr {
  height: 40px;
  color: light
}

.casilla-info {
  padding: 10px;
  width: 175px;
  font-size: 1.1rem;
}

.campo-error {
  border: 2px solid red;
}

.campo-error:focus {
  outline-color:  red;  
}

.ingredient-card:active {
  box-shadow: none;
  border: 1px solid gray;
  user-select: none;
  padding: 5px;
}

@media (min-width: 600px) {
    th {
    min-width: 80px;
  }
}

@media (max-width: 900px) {
  .ingredient-card img {
      width: 105px;
      height: 105px;
  }
}

@media (max-width: 600px) {
  .ingredient-card img {
      width: 90px;
      height: 90px;
  }
}