* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  border-spacing: 0 10px;
  color: #333;
}

thead tr {
  background-color: lightblue;
  height: 40px;
}

.total-fila {
  font-weight: bold;
}

.nueva-comida {
  padding: 20px 10px;
  font-size: 1.1rem;
}

.eliminar-btn {
  visibility: hidden;
}

.tabla-comida:hover .eliminar-btn {
  visibility: visible;
}

.quitar-btn {
  visibility: hidden;
}

td:hover .quitar-btn {
  visibility: visible;
}
